@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Background Image for .hero & footer */
.backgroundImage {
  background: rgba(18, 18, 18, 0.44) url("../img/group-giftss.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

 /* Custom CSS for navbar */
 .navbar .tooltipText {
  display: none; /* Hide tooltipText by default */
}

.mainContiner {
  margin-top: 40px;
}
.section1 {
  width: 1080px;
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.section2 .container {
  display: flex;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  align-items: center;
  color: rgb(10, 10, 10);
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(5, 5, 5);
  margin-top: 15px;
}
.social-media {
  display: flex;
  justify-content: center;
  color: rgb(9, 9, 9);
  flex-wrap: wrap;
}
.social-media a {
  color: rgb(2, 2, 2);
  margin: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: rgb(12, 12, 12);
}
.social-media a ion-icon {
  color: rgb(15, 15, 15);
  width: 30px;
  height: 30px;
  background-color: rgb(248, 246, 246);
}
.social-media a:hover ion-icon {
  color: red;
  transform: translateY(5px);
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}
.footer0:hover {
  color: red;
  cursor: pointer;
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2 .heading:hover {
  color: red;
  cursor: auto;
}
.footer2 .div:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.footer3 h4 {
  margin: 0 10px;
}
.footer2 div {
  margin: 10px;
}
.menu {
  visibility: hidden;
}
.heading1 .ham:active {
  color: red;
}
.items {
  overflow: hidden;
}
.ham,
.close {
  cursor: pointer;
}
.mobile-navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media screen and (max-width: 1250px) {
  .heading ul li {
    display: none;
  }

  .items {
    transform: scale(0.9);
  }
  .img-slider img {
    height: 60vw;
    width: 80vw;
  }
  .ham:active {
    color: red;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu a ion-icon {
    position: absolute;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 11;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  .close {
    z-index: 34;

    color: white;
    background-color: black;
  }
  .close:active {
    color: red;
  }
  .menu ul li {
    list-style: none;
    margin: 20px;
    border-top: 3px solid white;
    width: 80%;
    text-align: center;

    padding-top: 10px;
  }
  .menu ul li a {
    text-decoration: none;
    padding-top: 10px;
    color: white;
    font-weight: 900;
  }
  .menu ul li a:hover {
    color: red;
  }
  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 80%;
    height: 60%;
    animation-name: slide1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
  }
  .section1 {
    width: 80%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }

  .heading1 {
    opacity: 1;
    position: relative;
    bottom: 8px;
  }
  .search a {
    display: flex;
    flex-wrap: nowrap;
  }

  .heading1 .ham {
    background-color: black;
    color: white;
  }
  #input {
    width: 200px;
    flex-shrink: 2;
  }
  header {
    height: 150px;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 90px;
  }
  .manu {
    height: 50vh;
    display: none;
  }

  .mobile-navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-manu-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  .mobile-navbar-btn .mobile-manu-icon[name="close-circle"] {
    display: none;
  }
}



